UPLOAD_DIRECTORY_PATH=C:\Users\asus\OneDrive\Рабочий стол\2325181-readme-5\project\uploads
MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_DB=readme-upload
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin
SERVE_ROOT=/static
